body{
font-family:Arial;
background:#eef2f7;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.container{
background:white;
padding:40px;
border-radius:10px;
width:400px;
text-align:center;
box-shadow:0 10px 20px rgba(0,0,0,0.1);
}

input{
width:100%;
padding:10px;
margin-top:10px;
}

button{
margin-top:15px;
padding:10px;
background:#004aad;
color:white;
border:none;
width:100%;
cursor:pointer;
}

#result{
margin-top:20px;
}
